<form class="ui form">
    <h1>Add People to Credits</h1>
    <div class="field">
        <label for="name" style="color: white">Full Name</label>
        <input name="name" />
    </div>
    <div class="field">
        <label for="image" style="color: white">Image</label>
        <input name="image" />
    </div>
    <div class="field">
        <label for="description" style="color: white">Descriptions</label>
        <textarea name="description"></textarea>
    </div>
    <div class="fields equal widths">
        <div class="field">
            <label for="linkName" style="color: white">Link Name</label>
            <input name="linkName" />
        </div>
        <div class="field">
            <label for="linkUrl" style="color: white">Link Url</label>
            <input name="linkUrl" />
        </div>
    </div>
    <div class="field">
        <button id="add-link" class="ui button green" type="button">
            <i class="plus icon"></i>
            Add Link
        </button>
    </div>
    <div class="field">
        <button class="ui button green" type="submit">
            <i class="icon check"></i>
            Add Person
        </button>
    </div>
</form>

<script src="js/addPeople.js"></script>
