<section class="art">
	<div class="text">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
		<p>
			Lectus mauris ultrices eros in cursus turpis massa tincidunt. Mi
			ipsum faucibus vitae aliquet nec ullamcorper sit. In dictum non
			consectetur a erat nam at lectus.
		</p>
	</div>
	<div class="ui grid four column stackable artwork">
		<div class="column">
			<h3>ET LIGULA</h3>
			<div class="ui placeholder artpiece">
				<div class="image"></div>
			</div>
			<a href="#credits">YOUR NAME</a>
		</div>

		<div class="column">
			<h3>ET LIGULA</h3>
			<div class="ui placeholder artpiece">
				<div class="image"></div>
			</div>
			<a href="#credits">YOUR NAME</a>
		</div>

		<div class="column">
			<h3>ET LIGULA</h3>
			<div class="ui placeholder artpiece">
				<div class="image"></div>
			</div>
			<a href="#credits">YOUR NAME</a>
		</div>

		<div class="column">
			<h3>ET LIGULA</h3>
			<div class="ui placeholder artpiece">
				<div class="image"></div>
			</div>
			<a href="#credits">YOUR NAME</a>
		</div>
	</div>
</section>
