<section class="credits">
	<div class="credit-card">
		<div class="ui grid two columns">
			<div class="column">
				<div class="ui placeholder">
					<div class="image"></div>
				</div>
			</div>
			<div class="column">
				<h3>Your NAME</h3>
				<h4>Role 1, Role 2</h4>
				<p>
					Description of role(s). Lorem ipsum dolor sit amet,
					consectetur adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>
	</div>

	<div class="credit-card">
		<div class="ui grid two columns">
			<div class="column">
				<div class="ui placeholder">
					<div class="image"></div>
				</div>
			</div>
			<div class="column">
				<h3>Your NAME</h3>
				<h4>Role 1, Role 2</h4>
				<p>
					Description of role(s). Lorem ipsum dolor sit amet,
					consectetur adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>
	</div>

	<div class="credit-card">
		<div class="ui grid two columns">
			<div class="column">
				<div class="ui placeholder">
					<div class="image"></div>
				</div>
			</div>
			<div class="column">
				<h3>Your NAME</h3>
				<h4>Role 1, Role 2</h4>
				<p>
					Description of role(s). Lorem ipsum dolor sit amet,
					consectetur adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>
	</div>

	<div class="credit-card">
		<div class="ui grid two columns">
			<div class="column">
				<div class="ui placeholder">
					<div class="image"></div>
				</div>
			</div>
			<div class="column">
				<h3>Your NAME</h3>
				<h4>Role 1, Role 2</h4>
				<p>
					Description of role(s). Lorem ipsum dolor sit amet,
					consectetur adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>
	</div>
</section>
