<section class="credits">
    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <image src="images/bryant-connor-min.jpg" class="ui image medium" />
            </div>
            <div class="column">
                <h3>Connor Bryant</h3>
                <h4>Tech Member</h4>
                <p>
                    I am a game designer/developer who specializes in gameplay programming mainly. My role on this
                    project was to help with the tech portion of everything, where I worked with Tyvian Streets, Jake
                    Oaks, and Michael Marckwordt. The different parts of the virtual game I worked on were the hand
                    tracking component using Ultra-leap that controlled player movement and player versus player combat,
                    the game controller game object that controls how long the different phases of the game should be
                    depending on if it’s the exploration phase or the combat phase, and an early version of the
                    website/game app that was a progressive web application (this part of the project was scrapped,
                    however).
                </p>
                <p>
                    LinkedIn:
                    <a href="https://www.linkedin.com/in/connor-bryant-a8518b16a/">
                        https://www.linkedin.com/in/connor-bryant-a8518b16a/
                    </a>
                </p>
                <p>
                    Portfolio:
                    <a href="https://www.connorjbryant.com/"> https://www.connorjbryant.com/ </a>
                </p>
            </div>
        </div>
    </div>

    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/joseph-chamberland-min.jpg" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Joseph Chamberland</h3>
                <h4>Artist</h4>
                <p>
                    As a member of the artist team, I was tasked to create the design for the Grim Pickings website and
                    to sculpt digital models which were printed as physical figurines for the board game.', 'I worked
                    with Ty Streets who utilized my designs and 3D animated assets to build the website. My idea was to
                    employ an experiential design and to provide the user a unique sense of interaction with the
                    displayed content. It was a pleasure to collaborate with the tech team to realize my visions and to
                    create a setting that encourages people to fully engage with the website and become interested in
                    Grim Pickings.
                </p>
                <p>
                    Teaosha Cunningham created a 2D illustration of the main zombie character around which I sculpted a
                    3D model. I rigged the zombie model and gave it two different poses. Both poses were 3D printed
                    separately to be used and manipulated physically during play of Grim Pickings. Overcoming the
                    challenge of bringing a two-dimensional design into three dimensions brought me great
                    satisfaction--and even more so when my digital models were eventually 3D printed as tangible pieces
                    for the game.', 'Grim Pickings is a project that provided me the opportunity to work with students
                    of varying disciplines, and has stoked my passions to continue collaborating on projects that
                    broaden my skillsets in the industry of game production.
                </p>
                <p>
                    LinkedIn:
                    <a href="https://www.linkedin.com/in/chamberlandjd/">https://www.linkedin.com/in/chamberlandjd/</a>
                </p>
                <p>
                    Twitter:
                    <a href="https://twitter.com/landchambers/">https://twitter.com/landchambers/</a>
                </p>
            </div>
        </div>
    </div>

    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/chaney-shay-min.jfif" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Shay Chaney</h3>
                <h4>Game Designer</h4>
                <p>
                    Hello! My name is Shay Chaney! I am a passionate storyteller with dreams of sharing my concepts with
                    the world. Over my time as a creative writer, I have come up with countless narrative ideas as well
                    as character designs that I one day hope to bring to life through all forms of media.', 'On this
                    project I worked as one of the game designers and helped with the creation and development of this
                    games core gameplay features!
                </p>
                <p>
                    Portfolio:
                    <a href="https://www.chaneyofshay.com/">https://www.chaneyofshay.com/</a>
                </p>
                <p>
                    Twitter:
                    <a href="https://twitter.com/FayerieFire">https://twitter.com/FayerieFire</a>
                </p>
                <p>
                    Instagram:
                    <a href="https://www.instagram.com/fayeriefire/">https://www.instagram.com/fayeriefire/</a>
                </p>
                <p>
                    LinkedIn:
                    <a href="https://www.linkedin.com/in/shay-chaney-8900921b7/">
                        https://www.linkedin.com/in/shay-chaney-8900921b7/
                    </a>
                </p>
                <p>
                    ArtStation:
                    <a href="https://www.artstation.com/fayeriefire">https://www.artstation.com/fayeriefire</a>
                </p>
            </div>
        </div>
    </div>

    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/teaosha-cunningham-min.jpg" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Teaosha Cunningham</h3>
                <h4>Artist</h4>
                <p>
                    Hello! My name is Tea Cunningham and I had the honor of serving as one of the 2-dimensional artists
                    and social media manager for Grim Pickings. I am a visual designer, game artist, and illustrator who
                    loves dogs, dinosaurs, and a good cup of tea. I enjoy working on anything that will add a little bit
                    of positivity into the world, and games (both tabletop and video) are great outlets for encouraging
                    people to harness their inner creativity and engage in prosocial behavior. It's fun for me to figure
                    out solutions to problems and I often look for opportunities in this area. If my personal and
                    professional experiences have taught me anything, it is that I love inspiring others to accomplish
                    tasks and find solutions as well! As part of my academic journey, I have served as President of the
                    Game Developers' Group and President and Co-Founder of the Work in Progress Group (WIP).
                </p>
                <p>
                    Portfolio:
                    <a href="https://wolvenempress.wixsite.com/teaoshacunningham"
                        >https://wolvenempress.wixsite.com/teaoshacunningham</a
                    >
                </p>
                <p>
                    LinkedIn:
                    <a href="https://www.linkedin.com/in/teaosha-c/">https://www.linkedin.com/in/teaosha-c/</a>
                </p>
                <p>
                    Behance:
                    <a href="https://www.behance.net/teaoshacunningham">https://www.behance.net/teaoshacunningham</a>
                </p>
                <p>
                    Instagram:
                    <a href="https://www.instagram.com/wolvenempress/">https://www.instagram.com/wolvenempress/</a>
                </p>
                <p>
                    Twitter:
                    <a href="https://twitter.com/WolvenEmpress">https://twitter.com/WolvenEmpress</a>
                </p>
            </div>
        </div>
    </div>
    <!-- 
    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/bryant-connor-min.jpg" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Your NAME</h3>
                <h4>Role 1, Role 2</h4>
                <p>
                    Description of role(s). Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/bryant-connor-min.jpg" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Your NAME</h3>
                <h4>Role 1, Role 2</h4>
                <p>
                    Description of role(s). Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/bryant-connor-min.jpg" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Your NAME</h3>
                <h4>Role 1, Role 2</h4>
                <p>
                    Description of role(s). Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/bryant-connor-min.jpg" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Your NAME</h3>
                <h4>Role 1, Role 2</h4>
                <p>
                    Description of role(s). Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/bryant-connor-min.jpg" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Your NAME</h3>
                <h4>Role 1, Role 2</h4>
                <p>
                    Description of role(s). Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/bryant-connor-min.jpg" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Your NAME</h3>
                <h4>Role 1, Role 2</h4>
                <p>
                    Description of role(s). Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/bryant-connor-min.jpg" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Your NAME</h3>
                <h4>Role 1, Role 2</h4>
                <p>
                    Description of role(s). Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/bryant-connor-min.jpg" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Your NAME</h3>
                <h4>Role 1, Role 2</h4>
                <p>
                    Description of role(s). Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/bryant-connor-min.jpg" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Your NAME</h3>
                <h4>Role 1, Role 2</h4>
                <p>
                    Description of role(s). Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/bryant-connor-min.jpg" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Your NAME</h3>
                <h4>Role 1, Role 2</h4>
                <p>
                    Description of role(s). Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

    <div class="credit-card">
        <div class="ui grid one columns">
            <div class="column">
                <div class="column">
                    <image src="images/bryant-connor-min.jpg" class="ui image medium" />
                </div>
            </div>
            <div class="column">
                <h3>Your NAME</h3>
                <h4>Role 1, Role 2</h4>
                <p>
                    Description of role(s). Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div> -->
</section>
