<section class="gameplay">
	<div class="ui grid two columns stackable">
		<div class="column">
			<h1>GAMEPLAY</h1>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus,
				sed ratione nobis iusto architecto nisi quaerat dolores eius
				quos molestiae possimus provident, nulla impedit deleniti? Rerum
				est quae dolorem officiis!
			</p>
			<h4>BLANDIT</h4>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Voluptatibus, qui. Autem eos dolore beatae consequuntur
				perferendis laborum, odio vel consectetur nostrum quasi
				temporibus hic, expedita fugit suscipit repudiandae, a
				blanditiis.
			</p>
		</div>
		<div class="column">
			<div class="ui grid two column stackable">
				<div class="column">
					<img class="ui image" />
				</div>
				<div class="column">
					<h4>PURUS</h4>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing
						elit. Voluptatibus praesentium asperiores, laudantium,
						minima commodi error odit reprehenderit ab aperiam vitae
						nesciunt. Quisquam alias a ratione nobis atque minima
						rerum cum!
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Veniam ipsam omnis sed? Dolorum, fugiat assumenda
						doloremque soluta tenetur unde culpa magni
						exercitationem laboriosam vel inventore ex. At quas
						tenetur nisi.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
