<section class="home">
    <div class="ui grid two column right aligned desktop">
        <div class="column">
            <header class="header">
                <h2>STUDENTS AT IUPUI <span class="unfocus">present</span></h2>
                <h1>GRIM PICKINGS</h1>
            </header>
        </div>
    </div>
    <div class="ui grid one column center aligned mobile">
        <div class="column">
            <header class="header">
                <h2>STUDENTS AT IUPUI <span class="unfocus">present</span></h2>
                <h1>GRIM PICKINGS</h1>
            </header>
        </div>
    </div>
</section>
