<section class="rules">
    <h1>HOW TO PLAY</h1>
    <div class="content">
        <h2>Index</h2>
        <div class="ui grid four column stackable">
            <div class="column">
                <div>
                    <h2 class="section">1</h2>
                    <div class="text">
                        <h3>Introduction</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat tempore repellendus ipsam
                            culpa amet distinctio sunt pariatur id dolor cupiditate!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
