<section class="tech">
	<div class="ui grid three column stackable">
		<div class="column">
			<h3>ARCU FELIS</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			<p>
				In nisl nisi scelerisque eu ultrices vitae auctor eu. Netus et
				malesuada fames ac turpis egestas maecenas. Vestibulum lectus
				mauris ultrices eros in cursus turpis massa. Lorem ipsum dolor
				sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua.
			</p>
		</div>
		<div class="column">
			<div class="ui placeholder">
				<div class="image"></div>
			</div>
			<a href="#credits">YOUR NAME</a>
		</div>
		<div class="column">
			<h3>TORTO</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet
				consectetur adipiscing elit ut aliquam purus sit.
			</p>
			<ol>
				<li>Viv</li>
				<li>Mae</li>
				<li>Acc</li>
				<li>Lac</li>
			</ol>
		</div>
	</div>
</section>
