tabs {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 65px;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
}

margin-0 {
  margin: 0 !important;
}
padding-0 {
  padding: 0 !important;
}
center-block {
  width: 100% ;
}

#authCard .card .card-content {
  overflow: hidden;
}
#authCard .tabs .tab a {
  color: #eee;
}
#authCard .tabs .tab a.active {
  color: #00c853;
}
#authCard .tabs .indicator {
  background-color: #00c853;
  background: none;
}
#registerSection, #loginSection {
  overflow: hidden;
}
button[type="submit"].btn-large.green.accent-4 {
  margin-top: 30px;
}